/*IMPORT FONTS AND CSS FILES HER IS*/
@import url(./font.css){
/*START NAVIAGATION*/
}

.header_area .main-menu.navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}
.header_area .main_menu.navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}

.header_area .main_menu .navbar {
padding: 1rem 20rem;
}


/*ENDS NAVIGATION*/
